{% extends "stampo.htm" %}
{% block title %}Nuovo laboratorio - Monitoraggio{% endblock %}
{% block content %}
    <h1>Laboratori del CNR immessi nel sistema</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sede</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for laboratorio in laboratori %}
            <tr>
                <td>{{ laboratorio.nome }}</td>
                <td>{{ laboratorio.sede }}</td>
                <td><i class="fa fa-laptop" aria-hidden="true"></i> <i class="fa fa-pencil" aria-hidden="true"></i> <i class="fa fa-times" aria-hidden="true"></i></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}