{% extends "stampo.htm" %}
{% block title %}Nuovo Strumento - Monitoraggio{% endblock %}
{% block content %}
    <form action="/add_strumento" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="iden" class="col-form-label">Identificativo Interno</label>
                <input type="text" class="form-control" id="iden" placeholder="1" name="iden">
            </div>
            <div class="form-group col-md-9">
                <label for="nome" class="col-form-label">Nome dello strumento</label>
                <input type="text" class="form-control" id="nome" placeholder="Oscilloscopio" name="nome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="marca" class="col-form-label">Marca</label>
                <input type="text" class="form-control" id="marca" placeholder="" name="marca">
            </div>
            <div class="form-group col-md-4">
                <label for="modello" class="col-form-label">Modello</label>
                <input type="text" class="form-control" id="modello" placeholder="1" name="modello">
            </div>
            <div class="form-group col-md-4">
                <label for="proto" class="col-form-label">Protocollo</label>
                <br>
                <select class="custom-select" id="proto" name="proto">
                    <option selected>Seleziona...</option>
                    <option value="1">Seriale</option>
                    <option value="2">LAN</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="fs" class="col-form-label">Fondo Scala</label>
                <input type="text" class="form-control" id="fs" placeholder="" name="fs">
            </div>
            <div class="form-group col-md-4">
                <label for="vma" class="col-form-label">Valore minimo Allerta</label>
                <input type="text" class="form-control" id="vma" placeholder="1" name="vma">
            </div>
            <div class="form-group col-md-4">
                <label for="vMa" class="col-form-label">Valore massimo Allerta</label>
                <input type="text" class="form-control" id="vMa" placeholder="1" name="vMa">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="lab" class="col-form-label">Laboratorio</label>
                <br>
                <select class="custom-select" id="lab" name="lab">
                    <option selected>Seleziona...</option>
                    {% for laboratorio in laboratori %}
                        <option value="{{ laboratorio.lid }}">{{ laboratorio.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-block">Salva</button>
        </div>
    </form>
{% endblock %}