{% extends "stampo.htm" %}
{% block title %}Dettagli Strumento - Monitoraggio{% endblock %}
{% block content %}
    <h1>Informazioni sullo Strumento</h1>
    <ul class="list-group">
        <li class="list-group-item active"><strong>Identificativo e Nome: </strong>{{ strumento.identificatore_esterno }} - {{ strumento.nome }}</li>
        <li class="list-group-item"><strong>Marca e modello: </strong>{{ strumento.marca }} / {{ strumento.modello }}</li>
        <li class="list-group-item"><strong>Protocollo di comunicazione: </strong>{% if strumento.proto == 1 %}Seriale{% else %}Lan{% endif %}</li>
        <li class="list-group-item"><strong>Laboratorio</strong>: {{ strumento.laboratorio.nome }}</li>
    </ul>
{% endblock %}