{% extends "stampo.htm" %}
{% block title %}Lista Strumenti - Monitoraggio{% endblock %}
{% block content %}
    <h1>Lista degli Strumenti</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Identificatore</th>
            <th>Azioni</th>
        </tr>
        </thead>
        {% for strumento in strumenti %}
            <tr>
                <td>{{ strumento.nome }}</td>
                <td>{{ strumento.identificatore_esterno }}</td>
                <td><a href="/list_log/{{ strumento.sid }}/0"><i class="fas fa-book" aria-hidden="true"></i></a> <a
                        href="/details_strumento/{{ strumento.sid }}"><i class="fas fa-search" aria-hidden="true"></i></a> <a href="/mod_strumento/{{ strumento.sid }}"><i class="fas fa-pencil-alt"></i></a><a href="/delete_from_database/2/{{ strumento.sid }}"><i class="fas fa-times" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}