{% extends "stampo.htm" %}
{% block title %}Modifica Strumento - Monitoraggio{% endblock %}
{% block content %}
    {% if entita.identificatore_esterno != 0 %}
    <form action="/mod_strumento/{{ entita.sid }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="eid" class="col-form-label">Identificativo nel laboratorio</label>
                <input type="text" class="form-control" id="eid" value="{{ entita.indentificatore_esterno }}" name="eid">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">Salva</button>
            </div>
        </div>
    </form>
    {% else %}
    <h1>Per ragioni interne,</h1>
    <h2>Non è possibile eseguire quest'operazione sul dispositivo. Spiacente.</h2>
    {% endif %}
{% endblock %}