{% extends "stampo.htm" %}
{% block title %}Modifica Strumento - Monitoraggio{% endblock %}
{% block content %}
    <form action="/mod_strumento/{{ entita.sid }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="eid" class="col-form-label">Identificativo nel laboratorio</label>
                <input type="text" class="form-control" id="eid" value="{{ entita.indentificatore_esterno }}" name="eid">
            </div>
            <div class="form-group col-md-4">
                <label for="vmin" class="col-form-label">Valore minimo allerta</label>
                <input type="text" class="form-control" id="vmin" value="{{ entita.valore_minimo_allerta }}" name="vmin">
            </div>
            <div class="form-group col-md-4">
                <label for="vmax" class="col-form-label">Valore massimo allerta</label>
                <input type="text" class="form-control" id="vmax" value="{{ entita.valore_massimo_allerta }}" name="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">Salva</button>
            </div>
        </div>
    </form>
{% endblock %}