{% extends "stampo.htm" %}
{% block title %}Dashboard - Monitoraggio{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Pannello Amministrativo di Monitoraggio</h1>
        <p class="lead">Attraverso i comandi presenti in questa pagina, è possibile interagire con il database.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Laboratori</h5>
                        <p class="card-text">Esegui operazioni sui Laboratori del CNR attualmente nel sistema</p>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/list_laboratorio" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="/add_laboratorio" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Strumenti</h5>
                        <p class="card-text">Esegui operazioni sugli Strumenti del CNR attualmente nel sistema</p>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="/add_strumento" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Bot</h5>
                        <p class="card-text">Esegui operazioni sugli applicativi di ascolto</p>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/list_bot" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="/add_bot" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Utenti</h5>
                        <p class="card-text">Esegui operazioni sugli utenti della piattaforma</p>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/list_user" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="/add_user" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}