{% extends "stampo.htm" %}
{% block title %}Dashboard - Monitoraggio{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">

                <h1 class="display-3">Bentornato,</h1>
                <p class="lead">per incominciare, seleziona un operazione qui a lato oppure un laboratorio sulla
                    navbar</p>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Laboratori</h5>
                        <p class="card-text">Esegui operazioni sui Laboratori del CNR attualmente nel sistema</p>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="/add_laboratorio" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Strumenti</h5>
                        <p class="card-text">Esegui operazioni sugli Strumenti del CNR attualmente nel sistema</p>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Bot</h5>
                        <p class="card-text">Esegui operazioni sugli applicativi di ascolto</p>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="btn btn-primary btn-block">Lista</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-success btn-block">Aggiungi</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-warning btn-block">Rigenera</a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-danger btn-block">Elimina</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}