{% extends "stampo.htm" %}
{% block title %}Login - Monitoraggio{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Accesso a Monitoraggio</h1>
        <p class="lead">Per accedere al servizio di allerta strumenti del Consiglio Nazionale Ricerche, eseguire l'accesso con le
            proprie credenziali.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
        <div class="row">
            <div class="col-md-6">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="username">Nome Utente</label>
                        <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                               placeholder="Inserisci la tua mail" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                               name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Accedi</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                <img width="100%" alt="condivisione-logo" src="{{ url_for('static', filename='cnr.png') }}">
                    </div>
                    <div class="col-md-6">
                <img width="100%" alt="condivisione-logo" src="{{ url_for('static', filename='LogoFermiHiDef.png') }}">
                    </div>
                </div>
                <img width="100%" alt="condivisione-logo" src="{{ url_for('static', filename='Fermitech.png') }}">
            </div>
        </div>
    </div>
{% endblock %}