<nav class="navbar navbar-dark bg-dark navbar-static-top">
    <a class="navbar-brand" href="/dashboard">Monitoraggio</a>
    {% if utente %}
        <ul class="nav">
        {% for laboratorio in laboratori %}
            <li class="nav-item">
                <a class="nav-link active" href="/details_laboratorio/{{ laboratorio.lid }}">{{ laboratorio.nome }}</a>
            </li>
        {% endfor %}
        </ul>
        <a href="/" class="btn btn-danger">Logout</a>
    {% else %}
    {% endif %}
</nav>