{% extends "stampo.htm" %}
{% block title %}Modifica Utente - Monitoraggio{% endblock %}
{% block content %}
    <form action="/mod_user/{{ entita.uid }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="email" class="col-form-label">Email utente</label>
                <input type="text" class="form-control" id="email" value="{{ entita.username }}" name="email">
            </div>
            <div class="form-group col-md-4">
                <label for="nome" class="col-form-label">Nome e cognome</label>
                <input type="text" class="form-control" id="nome" value="{{ entita.nome }}" name="nome">
            </div>
            <div class="form-group col-md-4">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="password" value="{{ entita.password }}" name="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">Salva</button>
            </div>
        </div>
    </form>
{% endblock %}